body {
    font-family: "Avenir Next";
    color: white;
}

#mainMenuContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(47,47,47,0.9);
    display: none;
}

#optionsMenuContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(47,47,47,0.9);
    display: none;
}


#mainMenu, #optionsMenu {
  padding: 20px;
  border: 3px solid white;
  width: 400px;
  height: 250px;
  border-radius: 25px;
  box-shadow:
        inset 0px 0 5px rgb(255,255,255,.4),  /* inner left */
        inset 0px 0 5px rgb(255,255,255,.4), /* inner right */
        -0px 0 5px rgb(255,255,255,.4),        /* outer left */
        0px 0 5px rgb(255,255,255,.4);         /* outer right */
}

#mainMenuContent, #optionsMenuContent {
    display: flex;
    flex-direction: column;
    margin: 10% auto; /* 15% from the top and centered */
    width: 446px;
}

#menuList {
    display: flex;
    list-style-type: none;
    color: white;
    font-family: "Avenir Next";
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 5px;
    box-sizing: border-box;
}

.menuOptions, .controlMenuOptions .audioHeader, .optionMenuOptions, .controlsMenuOptions {
    text-shadow: 0px 0px 7px rgb(255,255,255.05);
}

#menuList li {
    padding: 2.5px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 2.5px;
}

#selected {
    background: rgb(216,216,216,.23);
}


/* https://www.fontspace.com/jackster-productions/super-plumber-brothers */
#menuTitle {
    font-family: 'super_plumber_brothersregular';
    color: white;
    font-size: 50px;
    line-height: 0;
    letter-spacing: 2px;
}

.menuLine {
    border-bottom: 3px solid white;
    width: 50px;
    position: relative;
    top: -35px;
    padding: 20px;
}

#menuHeader {
    display:flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

#mainMenuFooter {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}

.optionMenuOptions {
    display: flex;
    justify-content: space-between;
}



.audioSlider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25px;
    height: 5px;
    outline: none;
    background: #979797;
    width: 200px;
}


.audioSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #D8D8D8; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 15px;
}

.audioSlider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #D8D8D8; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 15px;
}

/* ---------- Controls Menu -------------> */
#controlsMenu {
    padding: 20px;
    border: 3px solid white;
    width: 715px;
    height: 466px;
    border-radius: 25px;
    box-shadow:
            inset 0px 0 5px rgb(255,255,255,.4),  /* inner left */
            inset 0px 0 5px rgb(255,255,255,.4), /* inner right */
            -0px 0 5px rgb(255,255,255,.4),        /* outer left */
            0px 0 5px rgb(255,255,255,.4);         /* outer right */
}

#controlsMenuContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(47,47,47,0.9);
}

#controlsMenuContent {
    display: flex;
    flex-direction: column;
    width: 761px;
    margin: 2.5% auto;
}

#controlCanvas {
    border-bottom: 1px solid #979797;
    width: 85%;
    height: 135px;
    display: block;
    margin: 0 auto;
}
