body {
    font-family: "Avenir Next";
    color: white;
}

#mainMenuContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(47,47,47,0.9);
    display: block;
}

#optionsMenuContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(47,47,47,0.9);
    display: none;
}


#mainMenu, #optionsMenu, #startMenu {
  padding: 20px;
  border: 3px solid white;
  width: 400px;
  height: 250px;
  border-radius: 25px;
  box-shadow:
        inset 0px 0 5px rgb(255,255,255,.4),  /* inner left */
        inset 0px 0 5px rgb(255,255,255,.4), /* inner right */
        -0px 0 5px rgb(255,255,255,.4),        /* outer left */
        0px 0 5px rgb(255,255,255,.4);         /* outer right */
}

#mainMenuContent, #optionsMenuContent {
    display: flex;
    flex-direction: column;
    margin: 10% auto; /* 15% from the top and centered */
    width: 446px;
}

#menuList, #optionMenuList{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 5px;
    box-sizing: border-box;
}

.menuOptions, .back, .goMenuOptions, .controlMenuOptions .audioHeader, .startOptions, .optionMenuOptions, .controlsMenuOptions, .winMenuOptions {
    text-shadow: 0px 0px 7px rgb(255,255,255.05);
}

.menuOptions, .goMenuOptions, .startOptions, .winMenuOptions {
    padding: 2.5px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 2.5px;
    width: 80%;
}

.optionMenuOptionContainer, .goMenuOptionContainer, .startMenuOptionContainer, .winMenuOptionContainer {
    display: flex;
    justify-content: space-between;
}


.optionMenuOptions {
    padding: 2px 15px;
    font-size: 14px;
    border-radius: 2.5px;
    margin-bottom: 10px;
    height: 21px;
    width: 80%;
}

#selected {
    background: rgb(216,216,216,.23);
}

.back {
    display: flex;
    align-items: center;
}

.backArrow {
    height: 13px;
    width: 15px;
    margin-bottom: 1px;
}


/* https://www.fontspace.com/jackster-productions/super-plumber-brothers */
#menuTitle {
    font-family: 'super_plumber_brothersregular';
    color: white;
    font-size: 50px;
    line-height: 0;
    letter-spacing: 2px;
    padding: 0px 5px;
    text-align: center;
    padding-left: 10px;
}

.menuLine {
    border-bottom: 3px solid white;
    width: 50px;
    position: relative;
    top: -35px;
    padding: 20px;
}

#menuHeader {
    display:flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

#mainMenuFooter {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}

.optionMenuOptions {
    display: flex;
    justify-content: space-between;
}



.audioSlider {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25px;
    height: 5px;
    outline: none;
    background: #979797;
    width: 200px;
}


.audioSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    background: #D8D8D8; 
    cursor: pointer; 
    border-radius: 15px;
}

.audioSlider::-moz-range-thumb {
    width: 15px; 
    height: 15px; 
    background: #D8D8D8; 
    cursor: pointer; 
    border-radius: 15px;
}

/* ---------- Controls Menu -------------> */
#controlsMenu {
    padding: 20px;
    border: 3px solid white;
    width: 715px;
    height: 466px;
    border-radius: 25px;
    box-shadow:
        inset 0px 0 5px rgb(255,255,255,.4),  /* inner left */
        inset 0px 0 5px rgb(255,255,255,.4), /* inner right */
        -0px 0 5px rgb(255,255,255,.4),        /* outer left */
        0px 0 5px rgb(255,255,255,.4);         /* outer right */
}

#controlsMenuContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(47,47,47,0.95);
    display: none;
}

#controlsMenuContent {
    display: flex;
    flex-direction: column;
    width: 761px;
    margin: 2.5% auto;
}

#controlCanvas {
    border-bottom: 1px solid #979797;
    display: block;
    margin: 0 auto;
}

#controlsMenuList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    box-sizing: border-box;
}

#controlMenuHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

/* ---------- GO Menu -------------> */

#goMenuTitle, #winMenuTitle {
    font-family: 'super_plumber_brothersregular';
    color: white;
    font-size: 100px;
    line-height: 0;
    letter-spacing: 2px;
    padding: 0px 5px;
    text-align: center;
    padding-left: 10px;
}

#goContainer, #startContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(47,47,47,0.95);
    display: none;
}

#winContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(47,47,47,0.95);
    display: none;
}

#goMenuList, #winMenuList {
    margin: 0;
    padding: 0;
}

#goMenu, #winMenu{
  padding: 20px;
  width: 350px;
  margin-top: 25px;
}

#goMenuContent, #startContent, #winMenuContent {
    display: flex;
    flex-direction: column;
    margin: 10% auto; 
    width: 446px;
    align-items: center;
}

/* ---------- Cursor -------------> */
.pointerArrow {
    width: 25px;
    height: 25px;
}

.menuOptionContainer, .startOptionContainer {
    display: flex;
    justify-content: space-between;
}


/* ---------- Keyboard -------------> */
#keyboard {
    margin: 0 auto;
    margin-top: 15px;
    width: 90%;
}

.keyboardKey, .halfKey, .quarterKey, .verticalHalfKey, .shift, #space, .arrow, .caps, .backspace {
    height: 39px;
    width: 39px;
    border-radius: 8px;
    margin: 0px 2.5px;
    border: 2px solid #575757;
    color: #575757;
}

.keyboardRow {
    display: flex;
    list-style-type: none;
    margin: 5px 0px;
    padding: 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.keyLetterContent {
    padding: 0 2.5px;
    margin: 0;
}

.keyNumberContent {
    margin-bottom: 0;
    margin-top: 18.5px;
    padding: 0 2.5px;
}

.quarterKey {
    height: 22px;
    width: 36px;
    margin: 0px 1.5px;
}

.halfKey {
    height: 22px;
    width: 53.5px;
    margin: 0px 1.5px; 
}

.verticalHalfKey {
    height: 39px;
    width: 29.5px;
}

.shift {
    height: 39px;
    width: 73px;
}

.caps {
    height: 39px;
    width: 49px;
}

.backspace {
    height: 70px;
    width: 40px;
    position: absolute;
    right: 0;
}

#space {
    height: 39px;
    width: 207px;
}

#keyP, #key1, #key2, #key3, #key4, #space, #rightArrow, #leftArrow, #upArrow, #downArrow {
    color: white;
    border: 2px solid white;
}

#keyP {
    background: white;
    color: rgba(47,47,47,0.9);
}

.arrow {
    width: 39px;
    height: 25px;
    margin-bottom: 3.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowContainer {
    display: flex;
    flex-direction: column;
}

.pressed {
    background: white;
}

#allMenus {
    display: none;
}

.arrowImgHorizontal {
    height: 12.5px;
    width: 10px;
}

.arrowImgVertical {
    height: 10px;
    width: 12.5px;
}