#canvas {
    border: 1px solid black;
    margin: 0 auto;
    background: #B4F7CC;

}

body {
    background: white;
    margin: 0 auto;
}

/*----------- IMAGES ------------*/

/* platforms */
#platformPiece-middle, #platformPiece-left, #platformPiece-right {
    display: none;
}
