#pageContent {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}


#canvasContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


#canvas {
    margin: 15% auto;
    background: #B4F7CC;
    display: block;
    margin: 0;
}

body {
    background: #2F2F2F;
    margin: 0 auto;
}

/*----------- UI ------------*/

#buttonContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    margin-top: 25px;
}

.button {
    height: 35px;
    width: 35px;
}

.button:hover {
    cursor: pointer;
}

/*----------- GAME ------------*/
#heartContainer {
    display: flex;
    justify-content: flex-end;
}

#heartContainer, #coinContainer, #scoreContainer {
    width: 33.33%;
}

#scoreContainer {
    text-align: center;
}

.heartIcon {
    height: 25px;
    width: 25px;
    margin-left: 2.5px;
}

#gameUI {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------- IMAGES ------------*/

/* platforms */
#platformPiece-middle, #platformPiece-left, #platformPiece-right {
    display: none;
}


